<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slathletecare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SLAthleteCare"
        android:usesCleartextTraffic="true">
        <activity android:name=".casestudy.AddFeedBackActivity"></activity>
        <activity android:name=".casestudy.FeedbackActivity" />
        <activity android:name=".casestudy.inner.AddImageActivity" />
        <activity android:name=".activity.PrivacyActivity" />
        <activity android:name=".activity.EditSportActivity" />
        <activity android:name=".activity.AddSportActivity" />
        <activity android:name=".activity.SportActivity" />
        <activity android:name=".ui.MessageOneActivity" />
        <activity android:name=".activity.HealthEditActivity" />
        <activity android:name=".activity.HealthActivity" />
        <activity android:name=".activity.ForumNewActivity" />
        <activity android:name=".activity.QuestionFormActivity" />
        <activity android:name=".activity.ArticleFormActivity" />
        <activity android:name=".ui.FormDetailsActivity" />
        <activity android:name=".ui.MyDetailsActivity" />
        <activity android:name=".ui.EditProfileActivity" />
        <activity android:name=".activity.CommentsActivity" />
        <activity android:name=".activity.NoticeOneActivity" />
        <activity android:name=".activity.NoticeAllActivity" />
        <activity android:name=".activity.QuestionOneActivity" />
        <activity android:name=".activity.ArticleOneActivity" />
        <activity android:name=".casestudy.inner.AdviceActivity" />
        <activity android:name=".casestudy.inner.DietActivity" />
        <activity android:name=".casestudy.inner.WorkoutActivity" />
        <activity android:name=".casestudy.inner.ImageActivity" />
        <activity android:name=".casestudy.inner.ReportActivity" />
        <activity android:name=".casestudy.inner.MedicineActivity" />
        <activity android:name=".casestudy.CaseStudyItemActivity" />
        <activity android:name=".activity.ScheduleActivity" />
        <activity android:name=".activity.CaseStudyActivity" />
        <activity android:name=".tabbed.FAActivity" />
        <activity android:name=".activity.QuestionAllActivity" />
        <activity android:name=".activity.ItemAllActivity" />
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".activity.InjuryActivity" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".OTPActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IntroActivity" /> <!-- Internet Permissions -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>